{{#each this}}
<li class="item">
    <a href="" class="item-btn" data-index="{{@index}}">{{city}}, {{country}}</a>
    <button class="item-btn__close" type="button" data-index="{{@index}}">
    </button>
</li>
{{/each}}